# encoding: utf-8

namespace :db do
  namespace :data do

    desc 'Load data into database'
    task :load => :environment do
      events = [
        # Namedays
        { :month => 4,  :day => 25,  :nameday => true,  :name => 'Theo' },
        { :month => 3,  :day => 13,  :nameday => true,  :name => 'Vanessa' },

        # Birthdays
        { :month => 2,  :day => 27, :birthday => true, :name => 'Cousin Cliff', :year => 1980 },
        { :month => 1,  :day => 7,  :birthday => true, :name => 'Cousin Clair', :year => 1990 },

        # Payments
        { :month => 3,  :day => 12, :payment => true,  :name => 'hosting' },
        { :month => 3,  :day => 11, :payment => true,  :name => 'Something' },
      ]

      events.each do |event_hash|
        event = Event.new event_hash
        event.save
        p event
      end
    end

  end
end